.patient-doc-container {
  padding: 20px;
}

.patient-info-container {
  display: flex;
  gap: 20px;
}

.patient-card {
  flex: 1;
}

.treatment-progress {
  flex: 2;
}

.update-progress-button {
  margin-top: 20px;
}

.detail-button {
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  color: #fff;
  background-color: #033e8c;
  border: none;
  cursor: pointer;
}

.detail-button:hover {
  background-color: #1e78ff;
}
